{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/home/_hero.html' %}
{% include 'includes/home/_service.html' %}

{% include 'includes/home/_about.html' %}
{% include 'includes/home/_events.html' %}

{% include 'includes/home/_whyus.html' %}

{% include 'includes/home/_birthday.html' %}
{% include 'includes/home/_contact.html' %}
{% include 'includes/home/_medals.html' %}
{% include 'includes/home/_faq.html' %}
{% include 'includes/home/_blog.html' %}
{% endblock %}
