{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    Alisa - Children School
  </title>
  <meta name="author" content="vecuro">
  <meta name="description" content="Alisa - Children School">
  <meta name="keywords" content="Alisa - Children School">
  <meta name="robots" content="INDEX,FOLLOW">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicons/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicons/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicons/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicons/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicons/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicons/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicons/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicons/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicons/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Baloo+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
<div class="breadcrumb-wrapper z-index-common overflow-hidden">
    <div class="breadcrumb-wrapper__bg wow animate__fadeInUp" data-wow-delay="0.15s" data-vs-gsap-parallax-speed="2" data-vs-gsap-parallax-zoom>
      <img src="{% static 'assets/img/bg/breadcrumb-bg-3.jpg' %}" alt="session bg" />
    </div>
    <div class="container">
      <div class="breadcrumb-wrapper__content wow animate__fadeInUp" data-wow-delay="0.45s">
        <h1 class="breadcrumb-wrapper__title">Page Not Found</h1>
        <div class="breadcrumb-wrapper__menu--wrap">
          <ul class="breadcrumb-wrapper__menu">
            <li class="breadcrumb-wrapper__menu--item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-wrapper__menu--item">404 Page</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vs-balls vs-balls--screen" data-balls-bottom="-6px" data-balls-color="#ffffff"></div>
  </div>
  <!-- Breadcrumb End -->
  <!-- Class -->
  <section class="error-area space z-index-common">
    <div class="container">
      <div class="error-area__content">
        <div class="error-area__header wow animate__fadeInUp mb-30" data-wow-delay="0.25s">
          <h2 class="error-area__title">
            <span></span>
            error page
            <span></span>
          </h2>
        </div>
        <img class="mb-30" src="{% static 'assets/img/404/error-image-1.png' %}" alt="error">
        <h2 class="error-area__number wow animate__fadeInUp mb-30 text-capitalize" data-wow-delay="0.45s">
          oops<span class="text-theme-color2">!</span> that
          page can't be
          found
        </h2>
        <a href="{% url 'home' %}" class="vs-btn wow animate__fadeInUp" data-wow-delay="0.45s"><span
                    class="vs-btn__border"></span>go back homepage</a>
      </div>
    </div>
  </section>

  <button class="back-to-top" id="backToTop" aria-label="Back to Top">
    <span class="progress-circle">
      <svg viewBox="0 0 100 100">
        <circle class="bg" cx="50" cy="50" r="40"></circle>
        <circle class="progress" cx="50" cy="50" r="40"></circle>
      </svg>
      <span class="progress-percentage" id="progressPercentage">0%</span>
    </span>
  </button>
 
  <script src="{% static 'assets/js/vendor/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/wow.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'assets/js/gsap.min.js' %}"></script>
  <script src="{% static 'assets/js/ScrollTrigger.min.js' %}"></script>
  <script src="{% static 'assets/js/gsap-scroll-to-plugin.js' %}"></script>
  <script src="{% static 'assets/js/SplitText.js' %}"></script>
  <script src="{% static 'assets/js/lenis.min.js' %}"></script>
  <script src="{% static 'assets/js/swiper-bundle.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>